
<router-outlet>
  <div id="main-content">
    <h1>Welcome to Lemonbarski Labs by Steven Lewandowski</h1>
    <img src="assets/img/lemonbarski.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod magna vel auctor scelerisque. Donec feugiat eu neque at aliquam. Nullam vehicula, eros quis aliquam tristique, sapien elit aliquam erat, sed pulvinar sem nibh id magna. Morbi ut eros ante. Mauris luctus ante sed nunc consectetur faucibus. Morbi et aliquam nibh. Ut velit neque, ultricies vitae sodales ut, consequat ut lectus. Praesent eget mauris eu est vehicula fringilla. Phasellus vel nisi nec nibh gravida vehicula at ut lacus.</p>
    <div id="social-media">
      <a href="#"><img src="facebook.jpg"></a>
      <a href="#"><img src="twitter.jpg"></a>
      <a href="#"><img src="instagram.jpg"></a>
    </div>
    <div id="client-login">
      <h3>Client Login</h3>
      <input type="text" placeholder="Username">
      <button>Login</button>
    </div>
    <div id="contact-form">
      <h3>Contact Form</h3>
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <textarea placeholder="Message"></textarea>
      <button>Submit</button>
    </div>
  </div>
</router-outlet>
